@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size:18px;
    background-color: hsl(27, 66%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
}
.container{
    width:320px;
    /* background-color: red; */
}
.container header{
    width:100%;
    background-color: hsl(10, 79%, 65%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding:15px 15px;
}
.balance p{
    color:hsl(33, 100%, 98%);
    font-size:0.5em;
    letter-spacing: 0.4px;
    margin-bottom:5px;
}
.balance h2{
    font-size:1.1em;
    color:white;
}
header img{
    width:40px;
}
.content{
    width:100%;
    background-color: white;
    margin-top:10px;
    padding:20px ;
    border-radius: 10px;
}
.content .information{
    width:100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);

}
.information h4{
    font-size:1.1em;
    color:hsl(25, 47%, 15%);
}
.graph{
    width:100%;
    height:130px;
    margin-top:10px;
   display: grid;
   align-items: flex-end;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   column-gap: 10px;
}
.week {
    text-align: center;
    cursor:pointer;
}
.week .value{
    width:90%;
    height:20px;
    /* background-color: red; */
    position: relative;
}
.value .box{
    position: absolute;
    left:-4px;
    bottom:4px;
    border-radius: 4px;
    background-color:hsl(25, 47%, 15%);
    font-size:0.56em;
    color:white;
    padding:5px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.week:hover .box{
    opacity: 1;
}
.week:hover .bar{
    opacity:0.8;
}
.week p{
    margin-top:4px;
    font-size:0.5em;
    color:hsl(28, 10%, 53%);    
}
.week .bar{
    width:100%;
    background-color:hsl(10, 79%, 65%); ;
    border-radius: 4px;
}
footer{
    padding-top:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p{
    font-size:0.6em;
    margin-bottom: 2px;
    color:hsl(28, 10%, 53%);
}
.bill h2{
    font-size:1.4em;
}
.return {
    text-align: right;
}
.return p{
    margin-top:2px;
}
.return h6{
    font-size:0.6em;
    font-weight: 900;
    font-family: inherit;
    color:hsl(25, 47%, 15%);
}
@media screen and (max-width:350px) {
    body{
        font-size:14px;
    }
    .container{
        max-width: 95%;
    }
    .content{
        padding:10px;
    }
    footer{
        padding-top:10px;
    }
}
@media screen and (max-width:270px) {
    .graph{
        column-gap: 5px;
    }
    
}